<!DOCTYPE html>
<html>
<!-- program to create and show buffer from specified points based on user input, base layer toronto, assumption delivery company analyzing service area network-->

    <head>
        <meta charset="utf-8">
        <title>Buffer creation app test</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
        <!--link to leaflet api-->
        <script> src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"</script>

        <!--leaflet ruler plugin add css and js-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gokertanrisever/leaflet-ruler@master/src/leaflet-ruler.css" integrity="sha384-P9DABSdtEY/XDbEInD3q+PlL+BjqPCXGcF8EkhtKSfSTr/dS5PBKa9+/PMkW2xsY" crossorigin="anonymous">  
        <script src="https://cdn.jsdelivr.net/gh/gokertanrisever/leaflet-ruler@master/src/leaflet-ruler.js" integrity="sha384-N2S8y7hRzXUPiepaSiUvBH1ZZ7Tc/ZfchhbPdvOE5v3aBBCIepq9l+dBJPFdo1ZJ" crossorigin="anonymous"></script>

    </head>

    <body>
        <div id="mapid">
            <style type="text/css">
                html { height: 100% }
                body { height:100%; margin:0; padding:0 }
                #mapid {width:50%; height:100%}
            </style>
        </div>

        <script>
            var myMap = L.map('mapid').setView([43.652526, -79.382674],12);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', { 
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>', 
                maxZoom: 18, 
                id: 'mapbox/streets-v11', 
                tileSize: 512, 
                zoomOffset: -1, 
                accessToken: 'pk.eyJ1Ijoia3F1YWlub28iLCJhIjoiY2tmb3ZsMXFsMDFsdzJxb3hsenhiam0wciJ9.Hycza97C9ZS4KEzKdP-ofA'
            }).addTo(myMap);

        </script>
    </body>
</html>